@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

.creater {
    cursor: pointer;
    font-family: "Arizonia";
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;

    &:hover span {
        color: #40BFFF;
    }
}